
body {
    background: #f6fafd;
    font-family: Arial, sans-serif;
    margin: 0;
}
.header {
    background: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    border-radius: 10px;
    margin: 20px;
}
.logo {
    height: 60px;
}
h1 {
    margin: 0;
    color: #203090;
}
.status {
    margin: 20px;
    padding: 10px;
    background: #eef4fc;
    border-radius: 10px;
}
.barra-progresso {
    width: 100%;
    height: 10px;
    background: #ccc;
    border-radius: 5px;
    margin: 5px 0;
}
#barra-preenchida {
    height: 100%;
    background: #547de6;
    width: 10%;
    border-radius: 5px;
}
.card-pergunta {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}
textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    resize: none;
}
.contador {
    margin-top: 5px;
    text-align: right;
    color: #555;
}
.botoes {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#avancar {
    background: #547de6;
    color: white;
}
#voltar {
    background: #aaa;
    color: white;
}
footer {
    text-align: center;
    margin: 20px;
    color: #777;
}
